@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(19 26 16 / var(--tw-bg-opacity, 1));
}
.bottom-4 {
    bottom: 0rem;
}
.bg-\[\#1a1129\] {
    --tw-bg-opacity: 1;
    background-color: #204b4730;
}
.bg-purple-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1));
}
.bg-apin{
  --tw-bg-opacity: 1;
    background-color: #204b4730;
}
/* From Uiverse.io by mrhyddenn */ 

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    inset: 20px;
    background: transparent;
    border: 1px dashed#444;
    border-radius: 50%;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed#444;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: transparent;
    transform-origin: top left;
    animation: radar81 2s linear infinite;
    border-top: 1px dashed #fff;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: seagreen;
    transform-origin: top left;
    transform: rotate(-55deg);
    filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
  }
  
  @keyframes radar81 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .swiper-wrapper {
    transition-timing-function: ease-in-out !important;
    transition-duration: 1000ms !important; /* Adjust speed */
  }
  
  .swiper-slide {
    width: 100% !important;
    flex-shrink: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: transform 0.3s ease-in-out !important;
  }
  
  .imgbg {
    background-image: url("/public/assets/img/bg_dream.png");
    background-size: cover;   /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
}